{:default
 {:require-restart? false
  :actions
  {:assets
   [["assets/input.css" "tailwind/input.css"]
    ["assets/main.cljs" "autogen/main.cljs"]
    ["assets/process.cljs" "autogen/process.cljs"]
    ["assets/tailwind.config.js" "tailwind.config.js"]
    ["assets/package.json" "package.json"]
    ["assets/README.tailwind.md" "README.tailwind.md"]]}}}