{:default
 {:require-restart? true
  :requires [[:kit/sql {:feature-flag :postgres}] :kit/dominoui]
  :actions
   {:assets [["assets/migrations/20240104143537-user-info.up.sql" "resources/migrations/20240104143537-user-info.up.sql"]
             ["assets/migrations/20240104143537-user-info.down.sql" "resources/migrations/20240104143537-user-info.down.sql"]]}}}
