{:default
 {:require-restart? true
  :actions
  {:assets     [["assets/queries.sql" "resources/sql/queries.sql"]]
   :injections [{:type   :edn
                 :path   "resources/system.edn"
                 :target []
                 :action :merge
                 :value  {:db.sql/connection #profile
                                              {:dev  {:jdbc-url "jdbc:sqlite:<<sanitized>>_dev.db"}
                                               :test {:jdbc-url "jdbc:sqlite:<<sanitized>>_test.db"}
                                               :prod {:jdbc-url #env 'JDBC_URL}}
                          :db.sql/query-fn   {:conn     #ig/ref :db.sql/connection
                                              :options  {}
                                              :filename "queries.sql"}
                          :db.sql/migrations {:store            :database
                                              :db               {:datasource #ig/ref :db.sql/connection}
                                              :migrate-on-init? true}}}
                {:type   :edn
                 :path   "deps.edn"
                 :target [:deps]
                 :action :merge
                 :value  {kit-clj/kit-sql        {:mvn/version "0.1.0"}
                          org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}}}
                {:type   :clj
                 :path   "src/clj/<<sanitized>>/core.clj"
                 :action :append-requires
                 :value  ["[kit.edge.db.sql]"]}]}}}
