{:default 
 {:require-restart? true
  :assets           [["assets/home.html"    "resources/public/home.html"]
                     ["assets/home.html"    "resources/public/error.html"]
                     ["assets/img/wake.png" "resources/public/img/wake.png"]
                     ["assets/pages.clj"    "src/clj/<<ns-name>>/web/routes/pages.clj"]
                     ["assets/layout.clj"   "src/clj/<<ns-name>>/web/pages/layout.clj"]]
  :injections       [{:type   :edn
                      :path   "resources/system.edn"
                      :target []
                      :action :merge
                      :value  {:reitit.routes/pages {:base-path "/"
                                                     :env       #ig/ref :system/env
                                                     :selmer    #ig/ref :templating/selmer}
                               :templating/selmer   {:resource-path "html"
                                                     :cache? #profile {:prod    true
                                                                       :default false}}}}
                     {:type   :edn
                      :path   "deps.edn"
                      :target [:deps]
                      :action :conj
                      :value  ['wake-clj/wake-selmer {:mvn/version "0.1.0"}]}]}}
