{:default
 {:require-restart? true
  :actions
  {:assets     []
   :injections [{:type   :edn
                 :path   "deps.edn"
                 :target [:deps]
                 :action :merge
                 :value  {io.github.kit-clj/kit-hato {:mvn/version "1.0.3"}}}
                {:type   :clj
                 :path   "src/clj/<<sanitized>>/core.clj"
                 :action :append-requires
                 :value  ["[kit.edge.http.hato]"]}
                {:type   :edn
                 :path   "resources/system.edn"
                 :target []
                 :action :merge
                 :value  {:http.client/hato {}}}
                {:type   :edn
                 :path   "resources/system.edn"
                 :target [:reitit.routes/api]
                 :action :merge
                 :value  {:http/client #ig/ref :http.client/hato}}]}}}
