{:default
 {:feature-requires [:base :sqlite]}
    
 :base
 {:require-restart? true
  :actions
  {:assets     [["assets/queries.sql" "resources/sql/queries.sql"]
                "resources/migrations"]
   :injections [{:type   :edn
                 :path   "resources/system.edn"
                 :target []
                 :action :merge
                 :value  {:db.sql/query-fn   {:conn     #ig/ref :db.sql/connection
                                              :options  {}
                                              :filename "sql/queries.sql"}
                          :db.sql/migrations {:store            :database
                                              :db               {:datasource #ig/ref :db.sql/connection}
                                              :migrate-on-init? true}}}
                {:type   :edn
                 :path   "resources/system.edn"
                 :target [:reitit.routes/api]
                 :action :merge
                 :value  {:query-fn #ig/ref :db.sql/query-fn}}
                {:type   :edn
                 :path   "deps.edn"
                 :target [:deps]
                 :action :merge
                 :value  {io.github.kit-clj/kit-sql-conman   {:mvn/version "1.10.1"}
                          io.github.kit-clj/kit-sql-migratus {:mvn/version "1.0.4"}}}
                {:type   :clj
                 :path   "src/clj/<<sanitized>>/core.clj"
                 :action :append-requires
                 :value  ["[kit.edge.db.sql.conman]"
                          "[kit.edge.db.sql.migratus]"]}]}
  }
  
 :sqlite
 {:feature-requires [:base]
  :actions
  {:injections [{:type   :edn
                 :path   "resources/system.edn"
                 :target []
                 :action :merge
                 :value  {:db.sql/connection #profile
                                                     {:dev  {:jdbc-url "jdbc:sqlite:<<name>>_dev.db"}
                                                      :test {:jdbc-url "jdbc:sqlite:<<name>>_test.db"}
                                                      :prod {:jdbc-url #env JDBC_URL}}}}
                {:type   :edn
                 :path   "deps.edn"
                 :target [:deps]
                 :action :merge
                 :value  {org.xerial/sqlite-jdbc {:mvn/version "3.36.0.3"}}}]}}

 :postgres
 {:feature-requires [:base]
  :actions
  {:injections [{:type   :clj
                 :path   "src/clj/<<sanitized>>/core.clj"
                 :action :append-requires
                 :value  ["[kit.edge.db.postgres]"]}
                {:type   :edn
                 :path   "resources/system.edn"
                 :target []
                 :action :merge
                 :value  {:db.sql/connection #profile
                                                     {:dev  {:jdbc-url "jdbc:postgresql://localhost:5432/<<name>>_dev?user=<<name>>&password=<<name>>"}
                                                      :test {:jdbc-url "jdbc:postgresql://localhost:5432/<<name>>_test?user=<<name>>&password=<<name>>"}
                                                      :prod {:jdbc-url #env JDBC_URL}}}}
                {:type   :edn
                 :path   "deps.edn"
                 :target [:deps]
                 :action :merge
                 :value  {org.postgresql/postgresql {:mvn/version "42.3.4"}
                          io.github.kit-clj/kit-postgres {:mvn/version "1.0.7"}}}]}}}
